<div class="row">
  <div class="form well">

    <form ng-submit="$ctrl.createPost()">

      <div>
        <label class="labelText" for="title">Title</label>
        <br>
        <input class="formText" id="title" class="form-control" ng-model="$ctrl.newPost.title">
      </div>

      <div>
        <label class="labelText" for="body">Description</label>
        <br>
        <textarea class="formText" id="body" class="form-control" ng-model="$ctrl.newPost.description"></textarea>
      </div>

      <div>
        <label class="labelText" for="price">Price</label>
        <br>
        <input class="formText" id="price" class="form-control" ng-model="$ctrl.newPost.price">
      </div>

      <div>
        <label class="labelText" for="item_image">Item Image</label>
        <br>
        <input class="formText" id="item-image" class="form-control" ng-model="$ctrl.newPost.item_image">
      </div>

      <br>

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg labelText">
          Create Post
        </button>
      </div>
      
    </form>

  </div>
</div>
