<div class="container">

  <div class="newBtn">
    <p><a type="button" class="pull-right btn btn-primary btn-lg labelText" ng-click="$ctrl.toggleForm()">New Post</a></p>
  </div>

  <new-post ng-if="$ctrl.displayForm" posts="$ctrl.posts" show-form="$ctrl.displayForm"></new-post>

  <sort-filter  sort-criterion="$ctrl.sortCriterion" sort-criteria="$ctrl.sortCriteria" filter="$ctrl.filter"></sort-filter>

  <post ng-repeat="post in $ctrl.posts | filter:$ctrl.filter | orderBy:$ctrl.sortCriterion.property" post="post" posts="$ctrl.posts"></post>

</div>
