<div class="row">
  <div class="col-md-12">

    <div class="post well">

      <div class="media-left">
        <img class="media-object" ng-src="{{$ctrl.post.item_image}}" >
      </div>

      <div class="titleText media-body text-center">

        <h3 class="priceText media-heading">
          {{$ctrl.post.title}}   |  ${{$ctrl.post.price}}
        </h3>

        <br>

        <p class="infoText">
          {{$ctrl.post.description}}
        </p>

        <div class="infoText">
          {{$ctrl.post.created_at.fromNow()}}
        </div>

        <a class="otherText" ui-sref="edit({post_id: $ctrl.post.id })">edit</a>
        <a class="otherText" href="#" ng-click="$ctrl.deletePost()">delete</a>

      </div>

    </div>

  </div>
</div>
